body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-list li {
  list-style: none;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  position: fixed;
}

nav {
  width: 100%;
  height: 12vh;
  background-color: #205b7e;
  display: flex;
}

.nav-list a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  color: white;
  padding: 0 15px;
}

.logo {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  margin: -10px 30px auto auto;
}

.nav-list li {
  line-height: 15vh;
  position: relative;
}

.nav-list a:hover {
  color: #f1adad;
  transform: scale(1.2);
  transition: all 0.7s ease;
}

/*page banner introducing the department style*/
.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(https://i.ibb.co/1Qk2ZFM/about.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 30px;
  border-bottom: 2px solid #205b7e;
}

.banner-text {
  position: absolute;
  margin-top: -300px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.banner-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  word-spacing: 20px;
  color: rgb(230, 241, 248);
  line-height: 45px;
  text-align: center;
  text-shadow: 2px 2px black;
}

/*contained area style*/
.work-container {
  display: block;
  position: relative;
  margin: 120px auto;
  width: 95%;
  text-align: center;
}

/*about us headline style*/
.about-us {
  position: relative;
}

/*about us headline text style*/
.about-us h1 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #212121;
  padding: 10px auto;
  margin-bottom: 80px;
}

/*about us headline underline style*/
.rebbr {
  width: 45px;
  height: 2px;
  background: #205b7e;
  position: relative;
  top: -75px;
  left: 48%;
}

/*info about us*/
.about-details {
  position: relative;
  width: 80%;
  left: 10%;
  margin-bottom: 100px;
}

.about-details p {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
}

.about-details h1 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #212121;
  padding: 10px auto;
  margin-top: 80px;
}

.about-details .rebbr {
  width: 110px;
  height: 2px;
  background: #205b7e;
  position: relative;
  top: -75px;
  left: 45%;
}

/*the footer style*/
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #205b7e;
  margin-top: 80px;
}

.parent-bottom {
  height: 280px;
}

/*social media logo style*/
.media {
  display: flex;
  background: #89b8ca;
  padding: 5px 10px 10px 10px;
  width: 100%;
  height: 80px;
  justify-content: center;
}

.social-media {
  padding: 10px;
  width: 80px;
}

.social-media a {
  color: white;
  height: 50px;
}

.social-media a:hover {
  color: #205b7e;
}

.media .social-media i {
  font-size: 30px;
  margin-top: 10px;
}

/*bottom navication bar style*/
.footer-details-top {
  display: flex;
  justify-content: center;
}

.footer-details-top a {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

.footer-details-top a:hover {
  color: #f1adad;
}

/*company rights style*/
.footer-details-bottom p {
  font-family: sans-serif;
  color: rgb(180, 180, 180);
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}
